{% extends 'base.html' %}
{% load survey_extras %}

{% block body %}

<div>
    <h1 class="mt-3">PaaS Survey App</h1>
	<form action="/survey/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="username">What is your name? <a href="#" class="btn btn-success btn-sm" role="#button"><i class="fa fa-pencil" aria-hidden="true"></i></a></label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="joke">Tell me your favorite joke <a href="#" class="btn btn-success btn-sm" role="#button"><i class="fa fa-pencil" aria-hidden="true"></i></a></label>
            <textarea id="joke" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="clouds">PaaS, SaaS or IaaS? <a href="#" class="btn btn-success btn-sm" role="#button"><i class="fa fa-pencil" aria-hidden="true"></i></a></label>
            <select class="form-control" id="clouds">
                <option selected>Choose...</option>
                <option value="1">PaaS</option>
                <option value="2">SaaS</option>
                <option value="3">IaaS</option>
            </select>
        </div>


		<div class="category-container">

		<div class="field-wrapper question-required">
			{{ response_form.interviewer.errors }}
			<span class="asterix"> * </span>{{ response_form.interviewer.label_tag }}
			<span class="form-help-text">{{ response_form.interviewer.help_text}}</span>
			<div class="form-field-body">
				{{ response_form.interviewer }}
			</div>
		</div>

		<div class="field-wrapper question-required">
			{{ response_form.interviewee.errors }}
			<span class="asterix"> * </span>{{ response_form.interviewee.label_tag }}
			<span class="form-help-text">{{ response_form.interviewee.help_text}}</span>
			<div class="form-field-body">
				{{ response_form.interviewee }}
			</div>
		</div>

		<div class="field-wrapper">
			{{ response_form.conditions.errors }}
			{{ response_form.conditions.label_tag }}
			<span class="form-help-text">{{ response_form.conditions.help_text}}</span>
			<div class="form-field-body">
				{{ response_form.conditions }}
			</div>
		</div>

		<div class="field-wrapper">
			{{ response_form.comments.errors }}
			{{ response_form.comments.label_tag }}
			<span class="form-help-text">{{ response_form.comments.help_text}}</span>
			<div class="form-field-body">
				{{ response_form.comments }}
			</div>
		</div>
	</div>


        <fieldset class="form-group">
            <legend>What do you like? <a href="#" class="btn btn-success btn-sm" role="#button"><i class="fa fa-pencil" aria-hidden="true"></i></a></legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Water
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Juice
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Cappuccino
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Coca-Cola
                </label>
            </div>
        </fieldset>

        <fieldset class="form-group">
		{% for category in categories %}
            <legend>{{category|title}} Questions</legend>
			<div class="category-container">
			{% for field in response_form %}
				{% if field.field.widget.attrs.category == category %}
					<li class="q-item" value="{% counter %}">
					{% if field.field.required %} 
					<div class="field-wrapper question-required"> 
						{{ field.errors }}
						<span class="asterix"> * </span><label class="label-inline">{{ field.label }}</label>
					{% else %} 
					<div class="field-wrapper"> 
						{{ field.errors }}
						<label class="label-inline">{{ field.label }}</label>
					{% endif %}
						<span class="form-help-text">{{ field.help_text}}</span>
						<div class="form-field-body">
							{{ field }}
						</div>
					</div>
					</li>
				{% endif %}
			{% endfor %}
			</div>
		{% endfor %}
        </fieldset>

        <button class="btn btn-warning" type="reset">Reset</button>
        <button class="btn btn-success" type="submit">Submit</button>
	</form>

</div>

{% endblock %}

{% block extrajs %}
	<script src="/media/js/jquery.collapsible.js"></script>	
	<script type="text/javascript">
		$(document).ready(function() {
			//collapsible management
			$('.collapsible').collapsible({defaultOpen: 'response_metadata'});
		});
	</script>
{% endblock %}